option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application 

container_commands:
  01_upgrade_pip:
    command: "pip install --no-cache-dir --upgrade pip"
  02_install_requirements:
    command: "pip install --no-cache-dir -r requirements.txt"
  03_clear_tmp:
    command: "rm -rf /tmp/*"
  04_clear_pip_cache:
    command: "rm -rf /root/.cache/pip"

packages:
  yum:
    git: []